.habitations {
    display: flex;
    flex-wrap: wrap;
    max-width: 1240px;
    padding-left: 0;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #f6f6f6;
    justify-content: space-around;
    gap: 20px;
}

@media (max-width: 912px) {
    .habitations {
        background-color: #ffffff;
        justify-content: center;
        border-radius: 10px;
        gap: 22px;
    }
}

@media (max-width: 375px) {
    .habitations {
        background-color: #ffffff;
        padding: 0;
        justify-content: center;
        border-radius: 0;
        gap: 22px;
        max-width: 335px;
        margin: 22px auto 0 auto;
    }
}