// src/pages/About/About.scss
.about {
    &-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    &-banner {
        height: 223px;
        border-radius: 25px;
        margin-bottom: 30px;
        background-image: url('../../assets/about-banner.png');
        background-size: cover;
        background-position: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 1000px;
        margin: 0 auto;
    }
}