.rating {
    display: flex;
    gap: 5px;
    margin-top: 40px;

    .fa-star {
        color: #ff6060;
        font-size: 1.5rem;

        &.active {
            color: #ff6060;
        }
    }
}

@media screen and (max-width: 425px) {
    .rating {
        gap: 3px;
        margin-top: 0;

        .fa-star {
            font-size: 0.9rem;
        }
    }
}